*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* @font-face {
    font-family: 'BMWHelvetica';
    src: url(BMWTypeWebLightAll.20161018.otf);
    font-weight: 900;
    font-style: normal;
} */
body{
    font-family:  Funnel Sans;
    overflow-x: hidden;
}
header {
    position: relative;
    width: 100%;
    height: 23vh;
    overflow: hidden;
}
.content{
    position: relative;
    color: #f1f1f1;
    padding: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    width: 91%;
}
.navbar a{
    position: relative;
    margin-left: 10px;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    border-radius: 3px;
    padding: 0.5rem ;
    transition:all 1s ease-in-out;
}
.navbar a.icon-start{
    gap: 100px;
    margin-left: auto;
}
.navbar a.icon-start:hover{
    background-color: transparent;
    color: #2a15e3;
}
.navbar a.icon-start1:hover{
    background-color: transparent;
    color: #2a15e3;
}
.navbar img{
    width: 6%;
    height: 3%;
}
.navbar a:hover{
    background: #afadad;
    color: #000;
    opacity: 0.7;
}
hr{
    width: 91%;
    margin:10px auto;
}
.contact-form form{
    position: relative;
}
.contact-form {
    margin-left: 10%;
}
input{
    outline: none;
    width: 100%;
    padding: 5px 40px 5px 10px; 
    background: white;
    color: #000;
    font-size: 20px;
    border: 2px solid lightgray;
    box-sizing: border-box;
}
.input-wrapper {
    position: relative;
    width: 40%;
}
input:hover{
    border: 2px black solid;
}
.input-wrapper i {
    position: absolute;
    right: 15px; 
    top: 35%;
    transform: translateY(-50%);
    color: gray;
    font-size: 30px;
    pointer-events: none;
}

label {
    margin-left: 1px;
}

hr.line{
    width: 100%;
    color: gray;
}
.fhead{
    width: 100%;
    height: 80px;
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap:20px;
}
.your{
    margin-left: 4%;
    font-size: 12px;
}
.mode a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.mode a:hover{
    color: #1C69D4;
}

footer{
    background: rgb(248, 246, 246);
    padding: 4rem 1rem 4rem;
    width: 100%;
    height: 450px;

  }
footer h3{
    margin-bottom: 0.4rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
  }
.contact{
    color: #000;
    display: flex;
    gap: 20px;
    margin-left: 50px;
  }
  .contact li{
    cursor: text;
    transition: all 0.3s ease-in-out;
    margin: 0.7rem 0;
    list-style: none;
    margin-right: 100px;
    line-height: 25px;
    margin-left: 20px;
  }
.contact li:hover{
    color:black;
    font-weight:550;
    cursor: pointer;
  }
.main-text li{
    color: lightslategray;
    font-size: 0.8rem;
}
.main-text li:hover{
    color: lightslategray;
    transition: none;
    font-weight: 100;
    cursor: text;
  }
.icons{
    display: flex;
    font-size: 20px;
    gap: 20px;
}
.icons i{
    color: #000;
    position: relative;
    left: 45px;
    top: 50px;
}
.footerend{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60%;
}
.footerend .agbmw p{
    font-size: 18px;
}
.footerend .legal {
    display: flex;
    flex-direction: row;
    gap:30px;
}
.footerend .legal a{ 
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.legal a:hover{
    color:#1C69D4;
}
.top{
    position: fixed;
    bottom: 15.5rem;
    right: 1.6rem;
}
.top i{
    color: #000;
    background: #fff;
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.top :hover{
    background: lightgray;
}
.drive{
    margin-top: -0.8rem;
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 18px;
    gap:3%;
    
}
.drive .d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 9vh;
    width: 10%;
    cursor: pointer;
}
.drive .d:hover{
    background-color:  #b6b6b62c;
    border-top: 5px solid blue;
}

.drive i {
    color: #000;
    padding: 0 1rem;
    transition: text-decoration 0.3s ease;
    
}
.drive a {
    display: flex;
    text-decoration: none;   
}
.drive span {
    font-size: 14px;
    color: lightslategray; 
}